{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block scripts %}
    <script src="{% static 'posts/blog-post.js' %}" defer></script>
{% endblock %}

{% block title %}
    blog posts
{% endblock %}

{% block content %}

     <div id="alert-box"></div>

    <!-- Bootstrap -->
    <!-- Button trigger modal -->

    {% if request.user.is_authenticated %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPostModal">
            Add blog post
        </button>
    {% endif %}

    <!-- Bootstrap -->
    <!-- Modal -->

    <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create blog post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="create-post-form" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">+Add</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <div id="blog-posts-box"></div>

    <div id="spinner-box" class="text-center">
        <div class="spinner-border" role="status">

        </div>
    </div>

     <!-- Bootstrap -->
    <div class="text-center mb-3" id="end-box">
        <button class="btn btn-primary" id="load-btn">Load more</button>
    </div>
{% endblock %}