{% extends 'base.html' %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <div class="form-box">
            <h2>Register</h2>
            <form class="authentication-form" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Sign up</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}"><i>Login here</i></a></p>
        </div>
    </div>
{% endblock %}